@model DWebProjFinal.Models.Utentes

@{
    ViewData["Title"] = "Delete";
}

<style>
    .fixed-height-img-big {
        max-height: 200px;
        object-fit: cover;
    }

    .fixed-height-img {
        max-height: 200px;
        object-fit: cover;
    }

    .fixed-height-img-icon {
        height: 40px;
        width: auto;
    }

    .card {
        background-color: white;
        transition: 0.3s;
        color: black;
        text-decoration: none;
    }

        .card:hover {
            background-color: #ffc107;
            color: white;
        }

    }

    a {
        text-decoration: none;
    }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
</style>

<h3>Tem a certeza que pretende apagar esta conta?</h3>
<div>
    <hr />
    <div class="row row-cols-2 mt-2">
        <div class="col-3">
            <img class="border rounded-circle fixed-height-img-big"
                 src="~/imagens/@Html.DisplayFor(model => model.Icon)"
                 alt="Icon do Utilizador @Html.DisplayFor(model => model.Nome)"
                 title="@Html.DisplayFor(model => model.Icon)" />
        </div>
        <div class="col-9">
            <div class="container mt-5">
                <h1>@Html.DisplayFor(model => model.Nome)</h1>
                <p>@Html.DisplayFor(model => model.Biografia)</p>
                <div class="row row-cols-auto mt-2">
                </div>
            </div>

        </div>
    </div>
    <hr/>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        <a class="btn btn-outline-success" asp-action="Index">Voltar</a>
    </form>
</div>
