@model DWebProjFinal.Models.Utentes

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Utilizador</h1>

<div class="row">
    <h3>Dados Públicos</h3>
    <hr/>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Biografia" class="control-label"></label>
                <input asp-for="Biografia" class="form-control" />
                <span asp-validation-for="Biografia" class="text-danger"></span>
            </div>

            <br />

            <h3>Dados Pessoais</h3>
            <hr/>
            
            <div class="form-group">
                <label asp-for="dataNasc" class="control-label"></label>
                <input asp-for="dataNasc" class="form-control" />
                <span asp-validation-for="dataNasc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telemovel" class="control-label"></label>
                <input asp-for="Telemovel" class="form-control" />
                <span asp-validation-for="Telemovel" class="text-danger"></span>
            </div>

            <br />

            <h3>Dados de Login</h3>
            <hr />

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
