@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao servidor do HowToMaster</h1>
    <p>ESTT, Engenharia Informática, Desenvolvimento Web 2024</p>
</div>
