@{
    ViewData["Title"] = "Termos de Privacidade";
}
<h1>@ViewData["Title"]</h1>
<br />

<h3>Ao usar esta aplicação web, está a consentir ao uso dos seus dados para fins de desenvolvimento.</h3>
<br />
<p>A aplicação HowToMaster foi criada no âmbito do projeto final da cadeira Desenvolvimento Web 2024 da licenciatura em Engenharia Informática no Instituto Politécnico de Tomar.</p>
<p>Todos e quaisquer dados introduzidos serão armazenados numa base de dados. Apesar de os dados estarem encriptados e não podem ser acedidos por mais ninguém para além de quem os introduziu, pedimos que não introduza dados pessoais e se limite a introduzir dados fictícios.</p>
