@model DWebProjFinal.Models.Paginas

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Página</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dificuldade" class="control-label"></label>
                <input asp-for="Dificuldade" class="form-control" />
                <span asp-validation-for="Dificuldade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Thumbnail" class="control-label"></label>

                <input type="file"
                       name="ImgThumbnail"
                       accept=".png,.jpg,.jpeg"
                       class="form-control" />
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UtenteFK" class="control-label"></label>
                <select asp-for="UtenteFK" class ="form-control" asp-items="ViewBag.UtenteFK"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
