@model DWebProjFinal.Models.Paginas

<style>
    .thumbnail {
        max-height: 100px;
        width: auto;
    }
</style>

<h1>Editar Página</h1>

<hr />
<form asp-action="Edit" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UtenteFK" />
    <input type="hidden" asp-for="Thumbnail" />
    <input type="hidden" asp-for="Utente" />


    <div class="form-group">
        Nova <label asp-for="Thumbnail" class="control-label"></label>
        <input type="file" name="ImgThumbnail" accept=".png,.jpg,.jpeg" class="form-control"/>
        <span asp-validation-for="Thumbnail" class="text-danger"></span>
    </div>


    <h1>
        <div class="form-group">
            Novo <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </h1>

    <div>
        <hr />
        <div class="row">
            <h5 class="col-sm-10">
                <div class="form-group">
                    Nova <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" class="form-control"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </h5>

            <h5 class="col-sm-10">
                <div class="form-group">
                    Novo <label asp-for="Conteudo" class="control-label"></label>
                    <textarea asp-for="Conteudo" class="form-control"></textarea>
                    <span asp-validation-for="Conteudo" class="text-danger"></span>
                </div>
            </h5>
        </div>
    </div>

    <hr />
    <div class="row row-cols-auto">
        <div class="col">
            <h5>
                Dificuldade:
            </h5>
            <p>
                <div class="form-group">
                    Nova <label asp-for="Dificuldade" class="control-label"></label>
                    <input asp-for="Dificuldade" class="form-control" />
                    <span asp-validation-for="Dificuldade" class="text-danger"></span>
                </div>
            </p>
        </div>
    </div>

    <div class="row row-cols-auto">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-warning" />
            </div>
        </div>

        <div class="col">
            <a class="btn btn-outline-success" asp-action="Index">Voltar</a>
        </div>
    </div>


</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
